@use 'vars';

html, .root {
  font-size: 16px;
  line-height: 1.5;
  min-width: 250px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: vars.$font-body-reg;
  font-weight: 400;
  font-style: normal;
  color: vars.$black;
}

strong {
  font-weight: normal;
  font-family: vars.$font-bold-reg;
}
