@use 'vars';

.block--two-col-img {
  p {
    strong {
      font-family: vars.$font-bold-reg;
      @include vars.breakpoint(medium) {
        font-family: vars.$font-bold;
      }
    }
  }
  h3 {
    padding-bottom: 2rem;
  }
  .skewed-row {
    $gap: 4rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    @include vars.breakpoint(medium) {
      gap: $gap;
      transform: skew(vars.$skew);
    }

    .skewed-col {
      h3 {
        font-family: vars.$font-body-reg;
        @include vars.breakpoint(medium) {
          font-family: vars.$font-body;
        }
      }
      p {
        font-family: vars.$font-body-reg;
        @include vars.breakpoint(medium) {
          font-family: vars.$font-body;
        }
      }
      @include vars.breakpoint(medium) {
        width: calc(50% - $gap);
      }
      &--first {
        order: 2;
        @include vars.breakpoint(medium) {
          order: 1;
        }
      }
      &--last {
        order: 1;
        @include vars.breakpoint(medium) {
          order: 2;
        }
      }
    }

    &--reversed {
      .skewed-col {
        &--first {
          order: 1;
          @include vars.breakpoint(medium) {
            order: 1;
          }
        }
        &--last {
          order: 2;
          @include vars.breakpoint(medium) {
            order: 2;
          }
        }
      }
    }
  }

  .skewed-img-container {
    height: 100%;
    position: relative;
    width: 100%;
    @include vars.breakpoint(medium) {
      overflow: hidden;
    }
    img {
      width: 100%;
      height: auto;
      position: relative;
      object-position: center;
      max-width: 100%;
      object-fit: cover;
      @include vars.breakpoint(medium) {
        object-fit: cover;
        object-position: top;
        width: 160%;
        max-width: none;
        max-height: 40rem;
        height: 100%;
        //position: absolute;
        left: -30%;
        transform: skew(vars.$skew-base);
      }
    }
  }

  .ys-btn {
    transform: skew(vars.$skew);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    @include vars.breakpoint(medium) {
      transform: skew(0);
    }
    span {
      @include vars.breakpoint(medium) {
        transform: skew(vars.$skew-base);
        font-family: vars.$font-bold-reg;
      }
    }
  }
}



