@import 'colors';

.ys-btn {
  //font-family: 'barlowbold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $yellow;
  width: 100%;
  height: 82px;
  font-weight: bold;
  font-size: 24px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:visited, &:active {
    color: $black;
  }

  @include breakpoint(medium) {
    width: 500px;
  }
}

