@use 'vars';

.ys-carousel-cards--container {
  padding-top: vars.$pad-l;
  &-grid {
    padding-top: 3.5rem;
    display: grid;
    gap: 8rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    @include vars.breakpoint(medium) {
      gap: 3.5rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.ys-carousel-card {
  overflow: hidden;
  height: 100%;
  &--date {
    font-style: italic;
    font-size: 1.25rem;
  }

  &--description {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.1;
    padding-top: 1rem;
    text-align: center;
    @include vars.breakpoint(medium) {
      text-align: left;
    }
  }

  p {
    line-height: 1.2;
    text-align: center;
    max-width: none;
    margin-bottom: 0;
    @include vars.breakpoint(medium) {
      text-align: left;
    }
  }

  .ys-btn {
    width: 80%;
    margin: auto;
    @include vars.breakpoint(medium) {
      width: 100%;
      margin: 0;
    }
    span {
      font-family: vars.$font-bold-reg;
      transform: skew(vars.$skew-base);
    }
  }

  img {
    position: relative;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: top;
    @include vars.breakpoint(medium) {
      left: -4rem;
      width: calc(100% + 8rem);
      max-width: none;
    }
  }
  .ys-carousel-card--entry-content {
    @include vars.breakpoint(medium) {
      min-height: 5rem;
    }
  }
}

.slick-slide {
  padding: 0;
  @include vars.breakpoint(medium) {
    padding: 0 1.4rem;
    width: 26rem;
  }

  .ys-btn {
    max-width: 100%;
    @include vars.breakpoint(small) {
      max-width: 375px;
    }
  }
}

$arrow-spacing: -60px;
$arrow-spacing-mobile: -40px;

.slick-next, .slick-prev {
  opacity: 1;
}

.slick-next {
  right: -4px !important;
  @include vars.breakpoint(medium) {
    right: $arrow-spacing !important;
  }

  &:before {
    content: url("data:image/svg+xml,%3Csvg width='56' height='78' viewBox='0 0 56 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_138' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='56' height='78'%3E%3Cpath d='M0.0400391 77.6367H55.2933V0.975266H0.0400391V77.6367Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_138)'%3E%3Cpath d='M3.37451 74.3037L50.3812 30.0877L21.9345 4.30905' stroke='%23E5E5E5' stroke-width='6.66667' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }
}

.slick-prev {
  left: $arrow-spacing-mobile !important;
  @include vars.breakpoint(medium) {
    left: $arrow-spacing !important;
  }
  &:before {
    content: url("data:image/svg+xml,%3Csvg width='56' height='78' viewBox='0 0 56 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_146' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='56' height='78'%3E%3Cpath d='M0.363953 77.1831H55.6173V0.521973H0.363953V77.1831Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_146)'%3E%3Cpath d='M52.2843 3.8569L5.27768 48.0729L33.7243 73.8516' stroke='%23E7E8E9' stroke-width='6.66667' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }
}

.ys-no-skew {
  .slick-next {
    right: -4px !important;
    @include vars.breakpoint(medium) {
      right: -25px !important;
    }
  }
}
