@use 'vars';

.ys-carousel-cards--container {
  &-grid {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    @include vars.breakpoint(medium) {
      row-gap: 14rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.ys-carousel-card {
  overflow: hidden;
  height: 100%;

  &--image-container {
    overflow: hidden;
  }

  &--date {
    margin-top: 0.25rem;
    font-family: vars.$font-italic-reg;
    font-size: 1.25rem;
    @include vars.breakpoint(medium) {
      font-family: vars.$font-italic-rev;
    }
  }

  &--description {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.1;
    padding-top: 1rem;
    text-align: center;
    @include vars.breakpoint(medium) {
      text-align: left;
    }
  }

  p {
    line-height: 1.2;
    text-align: center;
    max-width: none;
    margin-bottom: 0;
    @include vars.breakpoint(medium) {
      text-align: left;
    }
  }

  .ys-btn {
    width: 80%;
    margin: auto;
    @include vars.breakpoint(medium) {
      width: 100%;
      margin: 0;
    }
    span {
      font-family: vars.$font-bold-reg;
      transform: skew(vars.$skew-base);
    }
  }



  img {
    position: relative;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: top;
    @include vars.breakpoint(medium) {
      left: -4rem;
      width: calc(100% + 8rem);
      max-width: none;
    }
  }
  .ys-carousel-card--entry-content {
    @include vars.breakpoint(medium) {
      min-height: 5rem;
    }
  }
}

.slick-slide {
  padding: 0;
  @include vars.breakpoint(medium) {
    padding: 0 1.5rem;
    width: 26rem;
  }

  .ys-btn {
    max-width: 100%;
    @include vars.breakpoint(small) {
      max-width: 375px;
    }
  }
}

$arrow-spacing: -60px;
$arrow-spacing-mobile: -3vw;

.slick-next, .slick-prev {
  opacity: 1;
  width: 24px !important;
  height: 40px !important;
  z-index: 1;
  top: 39% !important;
  @include vars.breakpoint(medium) {
    top: 33% !important;
    width: 56px !important;
    height: 78px !important;
    transform: skew(vars.$skew-base) !important;
  }
}

.slick-next {
  right: $arrow-spacing-mobile !important;
  @include vars.breakpoint(medium) {
    right: $arrow-spacing !important;
  }

  &:before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.601465 38.7537C-0.302162 37.6316 -0.17289 35.9487 0.8902 34.9948L17.6682 19.9412L2.36599 4.98323C1.34228 3.98255 1.28092 2.29535 2.22893 1.21477C3.17694 0.134189 4.77533 0.0694157 5.79904 1.0701L23.1902 18.0701C23.7202 18.5882 24.0148 19.321 23.9994 20.0834C23.9841 20.8457 23.6603 21.5647 23.1098 22.0585L4.16252 39.0585C3.09943 40.0123 1.50509 39.8759 0.601465 38.7537Z' fill='%23BCBEC0'/%3E%3C/svg%3E%0A") !important;
    @include vars.breakpoint(medium) {
      content: url("data:image/svg+xml,%3Csvg width='56' height='78' viewBox='0 0 56 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_138' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='56' height='78'%3E%3Cpath d='M0.0400391 77.6367H55.2933V0.975266H0.0400391V77.6367Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_138)'%3E%3Cpath d='M3.37451 74.3037L50.3812 30.0877L21.9345 4.30905' stroke='%23E5E5E5' stroke-width='6.66667' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
    }

  }
}

.slick-prev {
  left: $arrow-spacing-mobile !important;
  @include vars.breakpoint(medium) {
    left: $arrow-spacing !important;
  }
  &:before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.3985 38.7537C24.3022 37.6316 24.1729 35.9487 23.1098 34.9948L6.33183 19.9412L21.634 4.98323C22.6577 3.98255 22.7191 2.29535 21.7711 1.21477C20.8231 0.134189 19.2247 0.0694157 18.201 1.0701L0.809784 18.0701C0.27976 18.5882 -0.014789 19.321 0.000572188 20.0834C0.0159334 20.8457 0.339735 21.5647 0.89015 22.0585L19.8375 39.0585C20.9006 40.0123 22.4949 39.8759 23.3985 38.7537Z' fill='%23BCBEC0'/%3E%3C/svg%3E%0A") !important;
    @include vars.breakpoint(medium) {
      content: url("data:image/svg+xml,%3Csvg width='56' height='78' viewBox='0 0 56 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_146' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='56' height='78'%3E%3Cpath d='M0.363953 77.1831H55.6173V0.521973H0.363953V77.1831Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_146)'%3E%3Cpath d='M52.2843 3.8569L5.27768 48.0729L33.7243 73.8516' stroke='%23E7E8E9' stroke-width='6.66667' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
    }
  }
}

.ys-no-skew {
  .slick-next {
    right: $arrow-spacing-mobile !important;
    @include vars.breakpoint(medium) {
      right: -25px !important;
    }
  }
}
