@use 'vars';

.site-footer {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  background: vars.$black;
  color: vars.$white;
  @include vars.breakpoint(medium){
    padding: 8rem 0;
  }

  .ys-skewed {
    position: relative;
  }

  $ys-section-breakpoint: 1230px;
  $footer-font-size: 1.15rem;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include vars.breakpoint(medium){
      flex-direction: row;
      justify-content: end;
      gap: 20%;
      padding: 0;
    }
  }

  li {
    font-size: $footer-font-size;
    line-height: 2;
  }

  a {
    color: vars.$white;
    text-decoration: none;
    transition: color 0.15s ease-in;
    &:hover {
      color: vars.$yellow
    }
    &:focus {
      color: vars.$yellow
    }
  }

  &--copyright {
    font-size: $footer-font-size;
    padding-top: 2em;
    line-height: 1.5em;
    margin: 0;
  }

  &--left-col,
  &--right-col {
    position: relative;
    &:before {
      content: '';
      width: 2px;
      height: 160%;
      position: absolute;
      background: vars.$white;
      left: -2em;
      display: none;
      @include vars.breakpoint(medium){
        display: block;
      }
    }
  }

  svg {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    height: auto;
    max-width: none;
    translate: 0 -50%;
    display: none;
    @include vars.breakpoint(small){
      display: block;
      width: 50%;
    }
    @include vars.breakpoint(medium){
      left: -25%;
      top: 50%;
    }
  }
}

.ys-list {
  &--clean {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    li {
      padding-left: 0;
    }
  }
}
