@use 'breakpoints';
@use 'typography';
@use 'colors';
@use 'spacing';

.site-footer {
  position: relative;
  overflow: hidden;
  margin-top: spacing.$large;
  padding: spacing.$large 0;
  background: colors.$black;
  color: colors.$white;

  $ys-section-breakpoint: 1230px;

  .inner {
    container-name: ys-footer-inner;
    container-type: inline-size;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(380px,80vw), 1fr));
  }

  li {
    padding: 0.25em;
  }

  a {
    color: colors.$white;
    text-decoration: none;
  }

  &--copyright {
    padding-top: 2em;
    line-height: 1.5em;
  }

  &--left-col,
  &--right-col {
    position: relative;
    &:before {
      content: '';
      width: 2px;
      height: 160%;
      position: absolute;
      background: colors.$white;
      left: -2em;
    }
  }

  &--bg {
    position: absolute;
    opacity: 0.05;
    top: 0;
    left: -35vw;

    svg {
      width: auto;
      height: 100%;
    }
  }
}