@use 'vars';

.site-footer {
  position: relative;
  overflow: hidden;
  margin-top: vars.$section-padding-mobile;
  padding: vars.$section-padding-mobile 0;
  background: vars.$black;
  color: vars.$white;
  @include vars.breakpoint(medium){
    margin-top: vars.$section-padding;
    padding: vars.$section-padding 0;
  }

  $ys-section-breakpoint: 1230px;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 vars.$section-gutter;
    @include vars.breakpoint(medium){
      justify-content: end;
      gap: 9rem;
      padding: 0;
    }
    @include vars.breakpoint(small){
      flex-direction: row;
    }
  }

  li {
    font-size: 1rem;
  }

  a {
    color: vars.$white;
    text-decoration: none;
  }

  &--copyright {
    font-size: 1rem;
    padding-top: 2em;
    line-height: 1.5em;
    margin: 0;
  }

  &--left-col,
  &--right-col {
    position: relative;
    &:before {
      content: '';
      width: 2px;
      height: 160%;
      position: absolute;
      background: vars.$white;
      left: -2em;
    }
  }

  .footer-logo {
    position: absolute;
    opacity: .02;
    top: -70%;
    right: 50%;
    width: 150%;
    max-width: none;
    @include vars.breakpoint(medium){
      width: 630px;
      height: auto;
      top: -18vh;
      left: -380px;
    }
  }
}