@use 'spacing';

.ys-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 4em;
  height: 70vh;
  .inner {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .svg-logo {
    position: relative;
    max-width: 1254px;
    height: auto;
    top: 6vh;
  }
}

