@use 'vars';

// Hero
.ys-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: vars.$hero-height-mobile;
  justify-content: center;
  padding: 0 vars.$section-gutter;
  align-items: center;
  @media (min-width: 1025px) and (min-height: 665px) {
    height: vars.$hero-height;
    padding: vars.$section-padding 0;
    align-items: end;
  }

  &-inner {
    padding: 0;
  }
}

body {
  &.home {
    .ys-hero {
      .svg-logo {
        max-height: none;
        @include vars.breakpoint(medium){
          width: vars.$hero-logo-width;
        }
      }
    }
  }
}