@use 'spacing';

.ys-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 6.75rem;
  height: 800px;
  justify-content: center;
  align-items: end;
  padding: 0 1rem 6.75rem 1rem;
  @media (min-width: spacing.$medium) {
    height: 1060px;
  }
  &-inner {
    padding: 0;
  }
  .svg-logo {
    position: relative;
    width: 1670px;
    height: auto;
  }
}

