@use 'vars';

// Two Column
.ys-two-col {
  display: grid;

  @include vars.breakpoint(medium) {
    gap: 9%;
    grid-template-columns: 1fr 1fr;
  }

  &--mobile-reversed {
    .ys-col {
      &--first {
        order: 2;
        @include vars.breakpoint(medium) {
          order: 1;
        }
      }

      &--last {
        order: 1;
        @include vars.breakpoint(medium) {
          order: 2;
        }
      }
    }
  }
}

.ys-section {
  max-width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  &--pad-top {
    padding-top: vars.$section-padding-mobile;
    @include vars.breakpoint(medium) {
      padding-top: vars.$section-padding;
    }
  }
  &--margin-top {
    margin-top: vars.$section-padding-mobile;
    @include vars.breakpoint(medium) {
      margin-top: vars.$section-padding;
    }
  }
}

.inner {
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: vars.$max-content-width;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.gutter {
  padding-inline: vars.$section-gutter-mobile;
  @include vars.breakpoint(medium) {
    padding-inline: vars.$section-gutter;
  }
}

.flex-grid {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include vars.breakpoint(medium) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
    justify-content: space-between;
  }

  &--partners {
    a {
      svg {
        width: 100%;
        height: auto;

        path {
          transition: fill 0.25s ease-in;
        }

        &:hover {
          path {
            fill: vars.$yellow
          }
        }
      }
      &.partner {
        &.size-s {
          max-width: 6rem;
        }
        &.size-m {
          max-width: 10rem;
        }
        &.size-l {
          max-width: 12rem;
        }
      }
    }
  }
}







