@use 'vars';

// Two Column
.ys-two-col {
  display: grid;
  gap: vars.$pad-m;

  @include vars.breakpoint(medium) {
    gap: 9%;
    grid-template-columns: 1fr 1fr;
  }

  &--mobile-reversed {
    .ys-col {
      &--first {
        order: 2;
        @include vars.breakpoint(medium) {
          order: 1;
        }
      }

      &--last {
        order: 1;
        @include vars.breakpoint(medium) {
          order: 2;
        }
      }
    }
  }
}

.ys-section {
  max-width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  &--pad-top {
    padding-top: vars.$section-padding-mobile;
    @include vars.breakpoint(medium) {
      padding-top: vars.$section-padding;
    }
  }
  &--margin-top {
    margin-top: vars.$section-padding-mobile;
    @include vars.breakpoint(medium) {
      margin-top: vars.$section-padding;
    }
  }
}

.inner {
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1512px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.gutter {
  padding-inline: vars.$section-gutter
}

@mixin skewed-container {
  transform: skew(vars.$skew);
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    max-width: none;
    transform: skew(vars.$skew-base);
    object-fit: cover;
    object-position: top;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    @include vars.breakpoint(medium) {
      position: relative;
    }
  }
}

.ys-masonry-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
  max-width: 1500px;
  &--col {
    width: 100%;
    height: 20vh;
    @include vars.breakpoint(medium) {
      width: 30%;
      height: 400px;
    }
  }
  a {
    display: inline-block;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    @include skewed-container;
  }
}