@use 'vars';

.site-header {
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: transform 0.3s vars.$animation-delay;
  background-color: vars.$black;
  height: 5rem;
  transform: translateY(-100%);
  display: flex;
  place-content: center;
  flex-wrap: wrap;

  &.hide {
    transform: translateY(-100%);
  }

  &.active {
    transform: translateY(0);
  }

}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  &:focus {
    outline: 2px solid vars.$yellow;
    outline-offset: 8px;
  }

  img {
    width: 50px;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 5;
  height: 30px;
  width: 30px;
  padding: 0;
  &:focus {
    outline: 2px solid vars.$yellow;
    outline-offset: 8px;
  }
  span {
    $animation: cubic-bezier(0.1, 0.6, 0.7, 1);

    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 1;
    opacity: 1;
    &:nth-child(1), &:nth-child(3) {
      transition: transform 0.15s $animation;
    }
    &:nth-child(2) {
      opacity: 1;
      transition: opacity 0.15s $animation;
    }
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
  &.active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        translate: 0 10px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        translate: 0 -10px;
      }
    }
  }
}

.main-menu-navigation {
  position: fixed;
  z-index: 4;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  transform: translate(100vw, 0);
  transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  right: 0;

  @include vars.breakpoint(medium) {
    transform: translate(24rem, 0);
    width: 24rem;
  }

  &.active {
    transform: translate(0, 0);
  }
}

.main-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 142px 50px 50px 50px;
  background: vars.$black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  right: 0;

  li {
    line-height: 1.5;
    font-size: 42px;
    text-align: right;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease;
      &:hover {
        font-family: vars.$font-bold-reg;
        padding-right: 1rem;
      }
      &:focus {
        outline: 2px solid vars.$yellow;
        outline-offset: 8px;
      }
    }
  }
}

.nav-overlay {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0);
  display: block;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  &.active {
    z-index: 3;
    opacity: 0.4;
  }
}

html {
  &.active {
    overflow: hidden;
  }
}

body {
  &.page-about {
    .main-menu, .site-header {
      background-color: vars.$dark-gray
    }
    .nav-overlay {
      background-color: vars.$dark-gray
    }
  }
}

.load-more-container {
  text-align: center;
  padding: 4rem 0 0;
}

.btn--load-more {
  text-transform: uppercase;
  border: 2px solid vars.$black;
  padding: 0.5rem;
  font-family: vars.$font-bold-reg;
  transition: all 0.2s vars.$animation-delay;
  &:hover {
    color: white;
    background-color: vars.$black;
  }
}
