@use 'vars';

.ys-section--projects {
  padding: vars.$section-padding 0;

  .inner {
    padding: 0 vars.$section-gutter;
  }
}

.ys-project {
  transform: skew(vars.$skew);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  &:after {
    @include vars.breakpoint(medium){
      z-index: 0;
      transition: opacity 0.25s ease-in;
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      left: -50%;
      top: 50%;
      translate: 50% -50%;
    }
  }

  &-image-container {
    height: auto;
    @include vars.breakpoint(medium){
      height: 100%;
    }
    img {
      position: relative;
      width: 100%;
      height: 300px;
      object-fit: cover;
      @include vars.breakpoint(medium){
        height: 100%;
        object-fit: cover;
        max-width: none;
        transform: skew(vars.$skew-base);
        width: 122%;
        left: -11%;
      }
    }
  }

  &-text-container {
    color: vars.$black;
    z-index: 1;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @include vars.breakpoint(medium){
      color: white;
      transform: skew(vars.$skew-base);
      transition: opacity 0.15s ease-out;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
    }

    h3 {
      font-family: vars.$font-bold-reg;
      margin-bottom: 0.5rem;
    }
    p {
      font-family: vars.$font-body-reg;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
    h3, p {
      transform: skew(0deg);
      line-height: 1;
    }
  }

  &:hover {
    .ys-project-text-container {
      opacity: 1;
    }
    &:after {
      opacity: 1;
    }
  }
}

// Grid

.ys-projects-grid {
  display: block;

  @include vars.breakpoint(medium){
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 3.5rem;
  }
}

.ys-hero-video {
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;

  .svg-logo {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 65%;
  }
}

.video-container {
  width: 140%;
  height: 100%;
  right: 20%;
  max-width: none;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;

  &:after {
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7)
  }

  video {
    max-width: none;
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
}