@use 'vars';

body {
  &.page-home {
    .ys-hero-heading {
      @include vars.breakpoint(medium){
        position: relative;
      }
    }
  }
}


h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  @include vars.breakpoint(medium){
    margin-bottom: 3rem;
  }
}

.home-main-subheading {
  p {
    margin: 0;
  }
}

.ys-section--intro {
  .ys-skewed {
    .inner {
      padding: 0 vars.$section-gutter-mobile;
      @include vars.breakpoint(medium){
        padding: 0 0 0 vars.$section-padding;
      }
      &--lines {
        @include vars.breakpoint(medium){
          padding: 0 0 0 17rem;
        }
        @include vars.breakpoint(large){
          padding: 0 0 0 vars.$section-padding * 2.5;
        }
        &:before,
        &:after {
          content: '';
          height: 100%;
          width: 100px;
          position: absolute;
          top: 0;
          background: vars.$black;
          display: none;
          @include vars.breakpoint(medium){
            display: block;
          }
        }
        &:before {
          @include vars.breakpoint(medium){
            left: 70px;
          }
        }
        &:after {
          right: -270px;
        }
      }
    }
    .ys-col {
      &--last {
        @include vars.breakpoint(medium){
          position: relative;
          overflow: hidden;
        }
        img {
          transform: none;
          width: 100%;
          //height: 30vh;
          height: auto;
          object-fit: cover;
          object-position: top;
          max-width: 100%;
          @include vars.breakpoint(medium){
            max-width: none;
            width: calc(100% + 175px);
            position: absolute;
            transform: skew(vars.$skew-base);
            height: 100%;
            left: -100px;
          }
        }
      }
    }
  }
}

.ys-section--meet-the-team {
  height: 50vh;
  @include vars.breakpoint(medium) {
    height: 40rem;
  }
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-bottom: 6rem;
  }
  .ys-btn {
    transform: skew(-12deg)
  }
}
