@use 'vars';

body.page-about {
  background-color: vars.$black;

  p, p a, h1, h2, h3, li {
    color: white;
  }

  .ys-hero {
    height: auto;
    align-items: center;
    padding: 5rem vars.$section-gutter 1.5rem;
    @include vars.breakpoint(medium) {
      justify-content: end;
      padding: 10.5rem vars.$section-gutter 2.5rem;
    }
    h1 {
      font-size: 4rem;
      margin: 0;
      white-space: normal;
      text-align: center;
      line-height: 1.3;
      @include vars.breakpoint(small) {
        font-size: 5rem;
      }
      @include vars.breakpoint(medium) {
        font-size: 7.5rem;
      }
      @include vars.breakpoint(large) {
        font-size: 9rem;
      }

      span.text--strikethrough {
        position: relative;
        display: inline-block;
        &:before {
          content: '';
          display: block;
          height: 3px;
          background-color: vars.$yellow;
          position: absolute;
          top: 50%;
          left: 0;
          width: 36%;
        }
      }
    }
  }

  h2 {
    font-size: 3rem;
    white-space: nowrap;
    @include vars.breakpoint(small) {
      font-size: 3.5rem;
    }
    @include vars.breakpoint(medium) {
      font-size: 6rem;
    }
    @include vars.breakpoint(large) {
      font-size: 7.5rem;
    }
  }

  .ys-section--about-intro {
    padding-inline: vars.$section-gutter;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      font-size: 1.5rem;
      margin: 0 auto;
      line-height: 1.6;
      max-width: 40ch;
      @include vars.breakpoint(medium) {
        font-size: 3rem;
      }
    }

    strong {
      color: vars.$yellow
    }
  }

  #founders {
    position: relative;
    @include vars.breakpoint(medium) {
      left: 4rem;
    }
    h3 {
      padding-bottom: 1rem;
    }
  }

  #projects {
    .grid {
      position: relative;
      a {
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.7);
          transition: opacity .15s ease-in;
          @include vars.breakpoint(medium) {
            opacity: 0;
          }
        }
        &:hover {
          &:before {
            opacity: 1;
          }
          div {
            opacity: 1;
          }
        }
        div {
          opacity: 1;
          position: absolute;
          margin: 0;
          bottom: 0;
          left: 50%;
          translate: -50%;
          transition: opacity 0.15s ease-in;
          z-index: 1;
          background-color: rgba(0,0,0,0.8);
          width: calc(100% + 2px);
          transform: skew(0);
          padding: 1rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          @include vars.breakpoint(medium) {
            display: block;
            top: 50%;
            bottom: unset;
            left: 50%;
            translate: -50% -50%;
            font-family: vars.$font-body-rev;
            opacity: 0;
            background-color: rgba(0,0,0,0);
            transform: skew(vars.$skew-base);
          }
          p {
            color: white;
            line-height: 1;
            text-align: center;
            &.project-title {
              font-size: 1.5rem;
              font-family: vars.$font-bold-reg;
              margin: 0;
            }
            &.project-studio {
              font-size: 1.25rem;
              font-family: vars.$font-body-reg;
              margin: 0.5rem 0 0 0;
            }
          }

        }
      }
    }
  }

  #press {
    position: relative;
    h2 {
      line-height: 1.3;
      @include vars.breakpoint(medium) {
        padding-bottom: 4rem;
        line-height: 0.6;
      }
    }
    h3 {
      padding-bottom: 0;
    }
    .ys-carousel-card--date {
      line-height: 1.3;
      padding-top: 0;
      margin-bottom: 2rem;
    }
    .description {
      p {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.3;
    @include vars.breakpoint(medium) {
      font-size: 3rem;
      padding-bottom: 0
    }
  }

  .ys-lines-section {
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 5rem;
      background: #131313;
      z-index: -1;
      height: 100%;
      transform: skew(vars.$skew)
    }
    &:before {
      left: -10rem;
      top: 10rem;
    }
    &:after {
      right: -8rem;
      bottom: 0;
    }
    h2, h3, p {
      position: relative;
      z-index: 3;
    }
  }
}

.btn-group {
  display: flex;
  position: relative;
  gap: 4rem;
  padding-top: 4rem;
  flex-direction: column;
  @include vars.breakpoint(medium) {
    flex-direction: row;
    left: -8rem;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include vars.breakpoint(medium) {
      width: 50%;
    }
    &:first-child {
      order: 2;
      @include vars.breakpoint(medium) {
        order: 1;
        align-items: end;
      }
    }
    &:last-child {
      order: 1;
      @include vars.breakpoint(medium) {
        order: 2;
        align-items: flex-start;
      }
    }
    a.ys-btn {
      transform: skew(vars.$skew);
      margin: 0;
      span {
        font-family: vars.$font-bold-reg;
        transform: skew(vars.$skew-base);
      }
    }
  }
}







