@use 'vars';

body.page-about {
  background-color: vars.$black;

  p, p a, h1, h2, h3, li {
    color: white;
  }

  h2 {
    font-size: 3.5rem;
    @include vars.breakpoint(medium) {
      font-size: 6rem;
    }
    @include vars.breakpoint(large) {
      font-size: 7.5rem;
    }
  }

  .ys-section--about-intro {
    padding-inline: vars.$section-gutter;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      font-size: 1rem;
      margin: 0 auto;
      line-height: 1.6;
      max-width: 40ch;
      @include vars.breakpoint(small) {
        font-size: 1.5rem;
      }
      @include vars.breakpoint(medium) {
        font-size: 3rem;
      }
    }

    strong {
      color: vars.$yellow
    }
  }

  .press-section {
    h2 {
      line-height: 1.3;
      @include vars.breakpoint(medium) {
        line-height: 0.6;
      }
    }
  }

  .founders-section {

  }
  #press {

  }
  h3 {
    text-transform: uppercase;
    font-size: 2rem;
    @include vars.breakpoint(medium) {
      font-size: 3rem;
    }
  }
}



