@use 'vars';

.ys-section--projects {
  padding: 4rem 0;
  @include vars.breakpoint(medium) {
    padding: 8rem 0;
  }
}

.heading-branded {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: vars.$font-thin-reg;
  @include vars.breakpoint(medium){
    font-size: 4rem;
  }
  span {
    display: inline-block;
    position: absolute;
    transform: skew(vars.$skew);
    height: 7rem;
    top: -1.5rem;
    @include vars.breakpoint(medium){
      height: 12rem;
      top: -2.5rem;
    }
    &:before {
      content: "";
      width: 2px;
      height: 100%;
      background: #000;
      display: inline-block;
      position: relative;
    }
  }
}

.ys-project {
  transform: skew(0deg);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin-inline: auto;
  &:focus {
    outline: 2px solid vars.$black;
    outline-offset: 8px;
  }
  @include vars.breakpoint(small){
    width: 80%;
    height: 30rem;
  }

  @include vars.breakpoint(medium){
    transform: skew(vars.$skew);
    width: 25rem;
    height: 25rem;
  }
  &:after {
    @include vars.breakpoint(medium){
      z-index: 0;
      transition: opacity 0.25s ease-in;
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.9);
      left: -50%;
      top: 50%;
      translate: 50% -50%;
    }
  }

  &-image-container {
    height: 100%;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      @include vars.breakpoint(medium){
        height: 100%;
        object-fit: cover;
        max-width: none;
        transform: skew(vars.$skew-base);
        width: calc(100% + 14rem);
        left: -7rem;
      }
    }
  }

  &-text-container {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background: rgba(0,0,0,0.8);

    @include vars.breakpoint(medium){
      bottom: unset;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      color: white;
      transform: skew(vars.$skew-base);
      transition: opacity 0.15s ease-out;
      opacity: 0;
      width: 92%;
      padding: 1rem 0 2rem;
      background: none;
    }

    h3, p {
      transform: skew(0deg);
    }

    h3 {
      font-family: vars.$font-bold-reg;
      margin-bottom: 0.5rem;
      line-height: 1;
    }
    p {
      font-family: vars.$font-body-reg;
      font-size: 1.25rem;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.15;
    }
  }

  &:hover {
    .ys-project-text-container {
      opacity: 1;
    }
    &:after {
      opacity: 1;
    }
  }
}

// Grid

.ys-projects-grid {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  @include vars.breakpoint(medium){
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 0fr));
    grid-gap: 3.5rem;
  }
}

