@use 'vars';

body.single-project {
  h1 {
    position: absolute;
    bottom: -0.4rem;
    font-family: "din", sans-serif;
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    line-height: 0.75;
    z-index: 2;

    @include vars.breakpoint(small){
      font-size: 6rem;
    }

    @include vars.breakpoint(medium){
      font-size: 11rem;
    }
  }

  .ys-col.ys-col--last {
    img {
      object-position: left;
      display: none;
      @include vars.breakpoint(medium) {
        display: block;
        max-width: none;
        width: 100%;
        position: absolute;
        transform: skew(12deg);
        height: auto;
        left: 55%;
        translate: -50%;
      }
    }
  }

  .single-project-press {
    padding-inline: 4vw;

    article.ys-carousel-card {
      overflow: visible;
      .ys-carousel-card--image-container {
        @include vars.breakpoint(medium) {
          overflow: hidden;
          transform: skew(vars.$skew);
          margin-inline: auto;
          position: relative;
          left: 3rem;
        }
        img {
          @include vars.breakpoint(medium) {
            transform: skew(vars.$skew-base);
          }
        }
      }

      .ys-carousel-card--description {
        @include vars.breakpoint(medium) {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          min-height: 5.6rem;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .single-project-description {
    .ys-two-col--content {
      p {
        margin-bottom: 1.5rem;
        @include vars.breakpoint(medium) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .single-project--intro-content {
    p {
      font-size: 1.5rem;
      line-height: 1.5;
      @include vars.breakpoint(medium) {
        font-size: 1.8rem;
      }
    }
  }

  .single-project-supplemental {
    padding-bottom: 4rem;
    @include vars.breakpoint(medium) {
      padding-block: 8rem;
    }
    &--grid {
      @include vars.breakpoint(medium) {
        grid-auto-rows: 1fr;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
        @include vars.breakpoint(medium) {
          height: 100%;
        }
        &.u-img-position-top {
          @include vars.breakpoint(medium) {
            object-position: center;
          }
        }
        &.u-img-position-left {
          @include vars.breakpoint(medium) {
            object-position: left;
          }
        }
        &.u-img-position-right {
          @include vars.breakpoint(medium) {
            object-position: right;
          }
        }
        &.u-img-position-center {
          @include vars.breakpoint(medium) {
            object-position: center;
          }

        }
      }
    }
  }

  .ys-carousel-card--date {
    transform: none;
  }
}

.featured-review {
  background-color: vars.$black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  padding: 2rem 4vw;
  @include vars.breakpoint(medium){
    padding: 12rem 4vw 8rem;
  }

  p {
    font-family: vars.$font-italic-reg;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    @include vars.breakpoint(small){
      font-size: 1.8rem;
    }
    @include vars.breakpoint(medium){
      font-size: 2.5rem;
    }
    &:first-child {
      &:before {
        content: open-quote
      }
      &:after {
        content: close-quote
      }
    }
    &:last-child {
      font-size: 1.25rem;
      font-family: vars.$font-body-reg;
      margin-top: 2rem;
      @include vars.breakpoint(medium){
        font-size: 1.75rem;
      }
    }
  }
  * {
    color: white;
  }
}

.post-navigation {
  padding: 0 4vw 4rem;
  margin-inline: auto;
  @include vars.breakpoint(medium){
    max-width: vars.$max-content-width;
    padding: 0 2rem 8rem;
  }
  @include vars.breakpoint(large){
    padding: 0 0 8rem;
  }
  a {
    color: vars.$gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    transition: filter 0.15s ease-in;
    filter: none;
    &:hover {
      filter: brightness(0.5);
    }
    @include vars.breakpoint(medium){
      font-size: 2rem;
    }
  }
}

.single-project-featured-media {
  img {
    position: relative;
    width: 100%;
    height: auto;
    @include vars.breakpoint(medium){
      bottom: -8rem;
      z-index: 1;
      width: calc(100% - 8vw);
      margin: -4rem auto 0;
    }
  }
  .video-container {
    position: relative;
  }
}

.nav-links {
  @mixin flex {
    display: flex;
    align-items: center;
  }

  @include flex;
  justify-content: space-between;
  flex-direction: row;

  .nav-previous, .nav-next {
    @include flex;
    a {
      @include flex;
    }
    a:before, a:after {
      width: 12px;
      height: 19px;
      @include vars.breakpoint(medium){
        width: 37px;
        height: 59px;
      }
    }
  }

  .nav-previous {
    a:before {
      margin-right: 1rem;
      content: url("data:image/svg+xml,%3Csvg width='12' height='19' viewBox='0 0 12 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7835 18.6996C11.4624 19.0623 10.9011 19.1022 10.5297 18.7886L0.307535 10.1567C0.117236 9.99605 0.00556173 9.76413 0.000202091 9.51849C-0.00515755 9.27285 0.0963009 9.03649 0.279419 8.86803L9.66207 0.236209C10.0194 -0.0925484 10.582 -0.0761164 10.9186 0.272909C11.2552 0.621935 11.2384 1.17139 10.881 1.50014L2.2153 9.47239L11.6925 17.4751C12.0638 17.7886 12.1046 18.3369 11.7835 18.6996Z' fill='%23BCBEC0'/%3E%3C/svg%3E%0A");
      @include vars.breakpoint(medium){
        margin-right: 2rem;
        content: url("data:image/svg+xml,%3Csvg width='37' height='59' viewBox='0 0 37 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.9377 55.9858L3.271 29.4725L31.419 2.95918' stroke='%23BCBEC0' stroke-width='5.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .nav-next {
    a:after {
      margin-left: 1rem;
      content: url("data:image/svg+xml,%3Csvg width='12' height='19' viewBox='0 0 12 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.216481 18.6996C0.537553 19.0623 1.09889 19.1022 1.47025 18.7886L11.6925 10.1567C11.8828 9.99605 11.9944 9.76413 11.9998 9.51849C12.0052 9.27285 11.9037 9.03649 11.7206 8.86803L2.33793 0.236209C1.98057 -0.0925484 1.41801 -0.0761164 1.08141 0.272909C0.74481 0.621935 0.761634 1.17139 1.11899 1.50014L9.7847 9.47239L0.30755 17.4751C-0.0638184 17.7886 -0.104592 18.3369 0.216481 18.6996Z' fill='%23BCBEC0'/%3E%3C/svg%3E%0A");
      @include vars.breakpoint(medium){
        margin-left: 2rem;
        content: url("data:image/svg+xml,%3Csvg width='37' height='59' viewBox='0 0 37 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.2532 57.7299C2.21642 58.844 3.90042 58.9663 5.01453 58.0031L35.6812 31.4898C36.2521 30.9962 36.5871 30.2838 36.6032 29.5293C36.6193 28.7748 36.3149 28.0488 35.7655 27.5314L7.61755 1.01804C6.54548 0.00824106 4.8578 0.0587133 3.848 1.13077C2.83819 2.20284 2.88866 3.89052 3.96073 4.90032L29.9579 29.3877L1.52641 53.9686C0.412304 54.9318 0.289985 56.6158 1.2532 57.7299Z' fill='%23BCBEC0'/%3E%3C/svg%3E%0A");
      }
    }
  }

  @include vars.breakpoint(medium){
    flex-direction: row;
  }
}



