@use 'vars';

.ys-skewed {

  @include vars.breakpoint(medium){
    font-family: vars.$font-body;
    transform: skew(vars.$skew);
    position: relative;
    left: -5%;
  }

  h1, .heading-xl {
    font-family: vars.$font-thin-reg;
    @include vars.breakpoint(medium) {
      font-family: vars.$font-thin;
    }
  }

  strong {
    @include vars.breakpoint(medium) {
      font-weight: normal;
      font-family: vars.$font-bold;
    }
  }

  .ys-btn {
    transform: skew(vars.$skew);
    @include vars.breakpoint(medium){
      transform: skew(0);
    }
    span {
      font-family: vars.$font-bold;
      @include vars.breakpoint(medium) {
        font-family: vars.$font-bold-reg;
        transform: skew(vars.$skew-base);
      }
    }
  }

  img, svg {
    @include vars.breakpoint(medium){
      transform: skew(vars.$skew-base)
    }
  }
}