@use 'vars';

.ys-skewed {
  @include vars.breakpoint(medium){
    font-family: vars.$font-body;
    transform: skew(vars.$skew);
    position: relative;
    left: -5%;
  }

  strong,
  .ys-btn {
    @include vars.breakpoint(medium) {
      font-weight: normal;
      font-family: vars.$font-bold;
    }
  }

  img, svg {
    @include vars.breakpoint(medium){
      transform: skew(vars.$skew-base)
    }
  }
}