@use 'vars';

@font-face {
  font-family: 'din';
  src: url('../assets/fonts/din.woff2') format('woff2'),
  url('../assets/fonts/din.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowblack';
  src: url('../assets/fonts/barlow-black.woff2') format('woff2'),
  url('../assets/fonts/barlow-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowbold';
  src: url('../assets/fonts/barlow-bold.woff2') format('woff2'),
  url('../assets/fonts/barlow-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowbolditalic';
  src: url('../assets/fonts/barlow-bolditalic.woff2') format('woff2'),
  url('../assets/fonts/barlow-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowbold-rev';
  src: url('../assets/fonts/barlow-bold-rev.woff2') format('woff2'),
  url('../assets/fonts/barlow-bold-rev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowextrabold';
  src: url('../assets/fonts/barlow-extrabold.woff2') format('woff2'),
  url('../assets/fonts/barlow-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowextralight';
  src: url('../assets/fonts/barlow-extralight.woff2') format('woff2'),
  url('../assets/fonts/barlow-extralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowlight';
  src: url('../assets/fonts/barlow-light.woff2') format('woff2'),
  url('../assets/fonts/barlow-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowlight-rev';
  src: url('../assets/fonts/barlow-light-rev.woff2') format('woff2'),
  url('../assets/fonts/barlow-light-rev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowmedium';
  src: url('../assets/fonts/barlow-medium.woff2') format('woff2'),
  url('../assets/fonts/barlow-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowregular-rev';
  src: url('../assets/fonts/barlow-regular-rev.woff2') format('woff2'),
  url('../assets/fonts/barlow-regular-rev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowregular';
  src: url('../assets/fonts/barlow-regular.woff2') format('woff2'),
  url('../assets/fonts/barlow-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowitalic';
  src: url('../assets/fonts/barlow-italic.woff2') format('woff2'),
  url('../assets/fonts/barlow-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowsemibold';
  src: url('../assets/fonts/barlow-semibold.woff2') format('woff2'),
  url('../assets/fonts/barlow-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowthin';
  src: url('../assets/fonts/barlow-thin.woff2') format('woff2'),
  url('../assets/fonts/barlow-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barlowthin-rev';
  src: url('../assets/fonts/barlow-thin-rev.woff2') format('woff2'),
  url('../assets/fonts/barlow-thin-rev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.heading-xl {
  font-size: 2.25rem;
  text-transform: uppercase;
  @include vars.breakpoint(medium){
    font-size: 3rem;
    line-height: 1;
  }
}

.heading-l {
  font-size: 2rem;
  text-transform: uppercase;
  @include vars.breakpoint(medium){
    font-size: 2.5rem;
    line-height: 1;
  }
}

h1 {
  @extend .heading-xl;
}
h2 {
  font-size: 2rem;
  @include vars.breakpoint(medium){
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 1.5rem;
  @include vars.breakpoint(medium){
    font-size: 2rem;
  }
}
h4, h5, h6 {
  font-size: 1.25rem;
  @include vars.breakpoint(medium){
    font-size: 1.5rem;
  }
}
p, li {
  font-size: 1.25rem;
  line-height: 1.5;
  @include vars.breakpoint(medium){
    font-size: 1.5rem;
    line-height: 2;
  }
}


p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 3rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

body {
  &.page-team {
    @include vars.breakpoint(medium){
      h2 {
        margin-top: -1rem;
      }
    }
  }
  &.page-about {
    @include vars.breakpoint(medium){
      h3 {
        margin-top: -1rem;
      }
    }
  }
}
