@import 'breakpoints';

@font-face {
  font-family: 'barlowblack';
  src: url('../assets/fonts/barlow-black.woff2') format('woff2'),
  url('../assets/fonts/barlow-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowbold';
  src: url('../assets/fonts/barlow-bold.woff2') format('woff2'),
  url('../assets/fonts/barlow-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowbold-rev';
  src: url('../assets/fonts/barlow-bold-rev.woff2') format('woff2'),
  url('../assets/fonts/barlow-bold-rev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowextrabold';
  src: url('../assets/fonts/barlow-extrabold.woff2') format('woff2'),
  url('../assets/fonts/barlow-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowextralight';
  src: url('../assets/fonts/barlow-extralight.woff2') format('woff2'),
  url('../assets/fonts/barlow-extralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowlight';
  src: url('../assets/fonts/barlow-light.woff2') format('woff2'),
  url('../assets/fonts/barlow-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowmedium';
  src: url('../assets/fonts/barlow-medium.woff2') format('woff2'),
  url('../assets/fonts/barlow-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular-rev';
  src: url('../assets/fonts/barlow-regular-rev.woff2') format('woff2'),
  url('../assets/fonts/barlow-regular-rev.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular';
  src: url('../assets/fonts/barlow-regular.woff2') format('woff2'),
  url('../assets/fonts/barlow-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowsemibold';
  src: url('../assets/fonts/barlow-semibold.woff2') format('woff2'),
  url('../assets/fonts/barlow-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowthin';
  src: url('../assets/fonts/barlow-thin.woff2') format('woff2'),
  url('../assets/fonts/barlow-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, .root {
  font-size: 16px;
  line-height: 21px;
}
body, .article {
  font-size: 1em;
  line-height: 1.3125em;
}
h1, .h1 {
  font-size: 2.625em;
  line-height: 1em;
  margin-top: 0.30882353em;
  margin-bottom: 0.61764706em;
  @include breakpoint(small) {
    font-size: 4.25em;
    line-height: 1.23529412em;
  }
}
h2, .h2 {
  font-size: 1.625em;
  line-height: 1.61538462em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include breakpoint(small) {
    font-size: 2.625em;
    line-height: 1em;
  }
}
h3, .h3 {
  font-size: 1em;
  line-height: 1.3125em;
  margin-top: 0.80769231em;
  margin-bottom: 0;
  @include breakpoint(small) {
    font-size: 1.625em;
    line-height: 1.61538462em;
  }
}
h4, .h4, h5, .h5 {
  font-size: 1em;
  line-height: 1.3125em;
  margin-top: 1.3125em;
  margin-bottom: 0;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.3125em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.heading-l {
  text-transform: uppercase;
}

p {
  font-size: 1em;
  line-height: 1.3125em;
  @include breakpoint(small) {
    font-size: 2rem;
    line-height: 2;
  }
}

