@use 'vars';

.skew-reverse {
  transform: skew(0deg)
}

.u-centered {
  margin-left: auto;
  margin-right: auto;
}

.text--no-skew {
  font-family: vars.$font-body-reg;
}

.ys-skew--reversed {
  transform: skew(0);
  @include vars.breakpoint(medium) {
    transform: skew(vars.$skew-base);
  }
}

.text--black {
  color: vars.$black !important;
}

.ys-skew {
  transform: skew(vars.$skew)
}

.pad-bottom--xl {
  padding-bottom: vars.$pad-l;
  @include vars.breakpoint(medium) {
    padding-bottom: vars.$pad-xl;
  }
}

.pad-top--xl {
  padding-top: vars.$pad-l;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-xl;
  }
}

.pad-top--xxl {
  padding-top: vars.$pad-xl;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-xxl;
  }
}

.margin-top--xxl {
  margin-top: vars.$pad-xl;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-xxl;
  }
}

.margin-top--xl {
  margin-top: vars.$pad-l;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-xl;
  }
}

.pad-top--l {
  padding-top: vars.$pad-m;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-l;
  }
}

.margin-top--l {
  margin-top: vars.$pad-m;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-l;
  }
}

.pad-bottom-0 {
  padding-bottom: 0;
}

.padding-top--0 {
  padding-top: 0 !important;
}

.ys-section--bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.text--no-wrap {
  @include vars.breakpoint(medium) {
    white-space: nowrap;
  }
}

.img-clip {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.show-mobile-only--block {
  display: block !important;
  @include vars.breakpoint(medium) {
    display: none !important;
  }
}

.show-mobile-only--flex {
  display: flex !important;
  @include vars.breakpoint(medium) {
    display: none !important;
  }
}

.show-desktop-only--flex {
  display: none !important;
  @include vars.breakpoint(medium) {
    display: flex !important;
  }
}

.show-desktop-only--block {
  display: none !important;
  @include vars.breakpoint(medium) {
    display: block !important;
  }
}


