@use 'vars';

.text--no-skew {
  font-family: vars.$font-body-reg;
}

.ys-skew--reversed {
  transform: skew(0);
  @include vars.breakpoint(medium) {
    transform: skew(vars.$skew-base);
  }
}

.u-skew-reverse {
  transform: skew(0deg);
}

.u-skew-base {
  transform: skew(vars.$skew-base);
}

.ys-skew {
  transform: skew(vars.$skew)
}

.u-font-unskewed--bold {
  font-family: vars.$font-bold-reg !important;
  transform: skew(vars.$skew-base) !important
}

.pad-bottom--xl {
  padding-bottom: vars.$pad-l;
  @include vars.breakpoint(medium) {
    padding-bottom: vars.$pad-xl;
  }
}

.pad-top--xl {
  padding-top: vars.$pad-l;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-xl;
  }
}

.pad-top--xxl {
  padding-top: vars.$pad-xl;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-xxl;
  }
}


.pad-top--l {
  padding-top: vars.$pad-m;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-l;
  }
}



.pad-bottom-0 {
  padding-bottom: 0;
}

.padding-top--0 {
  padding-top: 0 !important;
}

.ys-section--bg {
  background-repeat: no-repeat;
  background-size: cover;
}



.img-clip {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

// Show or Hide
.show-mobile-only--block {
  display: block !important;
  @include vars.breakpoint(medium) {
    display: none !important;
  }
}

.show-mobile-only--flex {
  display: flex !important;
  @include vars.breakpoint(medium) {
    display: none !important;
  }
}

.show-desktop-only--flex {
  display: none !important;
  @include vars.breakpoint(medium) {
    display: flex !important;
  }
}

.show-desktop-only--block {
  display: none !important;
  @include vars.breakpoint(medium) {
    display: block !important;
  }
}

// Text
.text--black {
  color: vars.$black !important;
}

.u-clamp5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical;
}

.text--no-wrap {
  @include vars.breakpoint(medium) {
    white-space: nowrap;
  }
}

// Width
.u-heading-width--l {
  width: 75%;

  @include vars.breakpoint(medium) {
    width: 25rem;
  }
}

// Alignment
.heading-offset {
  position: relative;
  @include vars.breakpoint(medium) {
    left: 7rem;
  }
}

.u-centered {
  margin-left: auto;
  margin-right: auto;
}

.u-content-centered--mobile {
  margin-inline: auto;
  @include vars.breakpoint(medium) {
    margin-inline: unset;
  }
}
.u-text-center--mobile {
  text-align: center;
  @include vars.breakpoint(medium) {
    text-align: left;
  }
}

// Spacing
.u-margin-0 {
  margin: 0 !important
}

.u-margin-top-1 {
  margin-top: 1rem !important;
}

.u-margin-top-2 {
  margin-top: 2rem !important;
}

.u-margin-top-3 {
  margin-top: 3rem !important;
}

.u-margin-top-4 {
  margin-top: 4rem !important;
}

.u-margin-top-4--mobile {
  margin-top: 4rem !important;
  @include vars.breakpoint(medium) {
    margin-top: 0 !important;
  }
}

.u-margin-top-2--mobile {
  margin-top: 2rem !important;
  @include vars.breakpoint(medium) {
    margin-top: 0 !important;
  }
}

.u-margin-top-xxl {
  margin-top: vars.$pad-xl;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-xxl;
  }
}

.u-margin-top-xl {
  margin-top: vars.$pad-l;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-xl;
  }
}

.u-margin-top-l {
  margin-top: vars.$pad-m;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-l;
  }
}





