@use 'vars';

.skew-reverse {
  transform: skew(0deg)
}

.text--no-skew {
  font-family: vars.$font-body-reg
}

.ys-skew {
  transform: skew(vars.$skew)
}

.pad-top--xl {
  padding-top: vars.$pad-l;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-xl;
  }
}

.margin-top--xl {
  margin-top: vars.$pad-l;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-xl;
  }
}

.pad-top--l {
  padding-top: vars.$pad-m;
  @include vars.breakpoint(medium) {
    padding-top: vars.$pad-l;
  }
}

.margin-top--l {
  margin-top: vars.$pad-m;
  @include vars.breakpoint(medium) {
    margin-top: vars.$pad-l;
  }
}

.pad-bottom-0 {
  padding-bottom: 0;
}

.padding-top--0 {
  padding-top: 0 !important;
}

.ys-section--bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.text--no-wrap {
  @include vars.breakpoint(medium) {
    white-space: nowrap;
  }
}
