$black : #000000;
$dark-gray: #333333;
$yellow: #F7E547;
$white: #ffffff;
$gray: #BCBEC0;

$font-body-reg: 'barlowregular', sans-serif;
$font-body-rev: 'barlowregular-rev', sans-serif;

$font-italic-reg: 'barlowitalic', sans-serif;
$font-italic-rev: 'barlowitalic-rev', sans-serif;
$font-italic-bold: 'barlowbolditalic', sans-serif;

$font-bold-reg: 'barlowbold', sans-serif;
$font-bold-rev: 'barlowbold-rev', sans-serif;

$font-thin-reg: 'barlowthin', sans-serif;
$font-thin-rev: 'barlowthin-rev', sans-serif;

$skew: -14deg;
$skew-base: -$skew;

$pad-xxl: 16rem;
$pad-xl: 8rem;
$pad-l: 4rem;
$pad-m: 2rem;
$pad-s: 1rem;

$max-content-width: 1512px;

$animation-delay: cubic-bezier(0.1, 0.6, 0.7, 1);

@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: 430px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 1024.5px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 1920px) { @content; }
  }
  @else if $point == xlarge {
    @media (min-width: 2560px) { @content; }
  }
}


@mixin bp-macbook($size) {
  @if $size == default {
    @media (max-width: 1512px) and (max-height: 982px) { @content; }
  }
  @else if $size == medium {
    @media (max-width: 1352px) and (max-height: 878px) { @content; }
  }
  @else if $size == small {
    @media (max-width: 1147px) and (max-height: 745px) { @content; }
  }
  @else if $size == smaller {
    @media (max-width: 1024px) and (max-height: 665px) { @content; }
  }
  @else if $size == large {
    @media (max-width: 1800px) and (max-height: 1169px) { @content; }
  }
}

