
@import 'colors';
@import 'breakpoints';
@import 'typography';
@import 'buttons';

@import 'hero';
@import 'footer';
@import 'two-col-block';

body {
  font-family: "barlowregular", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

.ys-skewed {
  transform: none;
  position: relative;

  $width: 70px;

  &:before,
  &:after {
    display: none;
    content: '';
    height: 100%;
    width: $width;
    position: absolute;
    top: 0;
    background: $black;
    @include breakpoint(medium) {
      display: block;
    }
  }
  &:before {
    //left: -$width;
  }
  &:after {
    //right: -$width;
  }

  @include breakpoint(medium) {
    font-family: "barlowregular-rev", sans-serif;
    transform: skew(-14deg);

    img,
    video {
      transform: skew(-14deg);
    }
  }
}



.inner {
  margin: 0 auto;
  width: 90%;
  padding: 0 30px;
  max-width: 1250px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  @media only screen and (max-width: 768px){
    padding: 0 20px;
  }
}




